<%- include ../partials/header.ejs %>

    <%- include ../partials/main_nav.ejs %>

        <!-- Main Content -->
        <main class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-6">
                    <h1><%= title %></h1>
                    <% if(typeof displayName=='string' && displayName) { %>
                        <a href="/book-list/add" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> Add a Business Contact</a>
                    <% } %>
                    <br>
                    <table class="table table-dark table-hover">
                        <!-- Header Row-->
                        <tr class="d-flex">
                        <% if(typeof displayName=='string' && displayName) { %>
                            <th class="text-center col-4">Name</th>
                            <th class="text-center col-4">Email Address</th>
                            <th class="text-center col-4">Phone Number</th>
                        <% } %>
                        </tr>
                        <!-- Repeatable Template Row -->
                    <% if(typeof displayName=='string' && displayName) { %>
                      <% for(let count=0; count < BookList.length; count++) { %>
                        <tr class="d-flex">
                       
                            <td class="text-center col-4">
                                <%= BookList[count].name %>
                            </td>
                            <td class="text-center col-4">
                                <%= BookList[count].email %>
                            </td>
                            <td class="text-center col-4">
                                <%= BookList[count].phone %>
                            </td>
                            <td class="text-center col-1.5">
                                <a href="/book-list/edit/<%= BookList[count]._id %>"
                                    class="btn btn-primary btn-sm">
                                    <i class="fas fa-sm fa-pencil-alt"></i> Update</a>
                            </td>
                            <td class="text-center col-1.5">
                                <a href="/book-list/delete/<%= BookList[count]._id %>"
                                class="btn btn-danger btn-sm">
                                <i class="fas fa-sm fa-trash-alt"></i> Delete</a>
                            </td>
                        </tr>
                            <% } %>
                    <% } else { %>
                        <h1>Please, Login first.</h1>
                    <% } %>
                </table>
            </div>
        </div>
    </main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>